* {
	vertical-align: baseline;
	font-weight: inherit;
    font-style: inherit;
    font-family: Helvetica, serif;
	font-size: 100%;
	outline: 0;
    margin: 0 auto;
	}
	

#wrapper {
	  margin: 0 auto;
	  margin-top: 50px;
	  margin-bottom: 50px;
	  width: 600px;
       }
       	   h4 {
       	      text-align: center;
       	   }
       	   #logo {
       	      margin: 0 auto;
       	      font-size: 40px;
       	      color: gray;
       	      text-decoration: none;
       	      font-style: bold;
       	      font-weight: 800;
       	   }
       	   #logo:hover{
           		color: #dba100;
			    transition-duration: .5s;
           }
           #container {
           	  width: 600px;
           	  margin: 0 auto;      
           }
       	   p{
       	      text-align:center;
       	      margin: 0 auto;
       	      font-size: 15px;
       	      font-family: Arial;
       	      letter-spacing: 10px;
       	      color: gray;
       	      font-weight: 600;
       	   }
       	   #label{
       	   		color: gray;
       	   		font-family: Arial;
       	   		font-weight: 600;
       	   		font-size: 17px;
       	   		margin-left: 30px;
       	   }
       	   #input {
       	   		padding: 30px;
       	   		color: gray;
       	   		font-family: Arial;
       	   		border-radius: 15px;
       	   		font-size: 18px;
       	   		height: 65px;
       	   }
		  .form-control:focus{
		       border-width: 7px;
               -webkit-box-shadow: none !important;
               -moz-box-shadow: none !important;
               box-shadow: none !important;
           }
       	   #errors{
       	   		color: #dba100;
       	   		font-style: bold;
       	        font-weight: 800;
       	   }
           hr{
           		margin-top: 30px;
           		width: 500px;
           		background-color: #dba100;
            	height: 3px;
           }
           
           #submitcharity{
               color: gray; 
               font-size: 17px;
               text-decoration: none;
               font-style: bold;
       	       font-weight: 800;
           }
           #submitcharity:hover{
			    color: #dba100; 
			    transition-duration: .5s;
           }
           #donatebitcoin{
               color: #dba100;
               font-size: 25px;
               margin-top: 40px;
               text-decoration: none;
               font-style: bold;
       	       font-weight: 800;
           }
           #donatebitcoin:hover{
			    opacity: 0.5;
			    transition-duration: .5s;
           }
           #submit{
			  display: flex;
			  justify-content: center;
			  color: white;
			  font-size: 25px;
			  font-style: bold;
       	      font-weight: 800;
			  margin: 0 auto;
               width: 250px;
               height: 65px;
               padding: 10px;
               border-radius: 15px;
               border: none;
               background-color: #dba100;
               box-shadow: 0px 7px 20px 0px #dba100;
               margin-bottom: 10px;
           }
           #submit:hover{
			    opacity: 0.4;
			    transition-duration: .5s;
			    box-shadow: none;
           }
           
  @media screen and (max-width: 700px) {
	body {
	  -webkit-text-size-adjust: none;
	}
	#wrapper {
		width: 400px;
	}
	      #container {
           	  width: 350px;
           	  padding-left: 0px;     	  
           }
       	   p{
       	      font-size: 12px;
       	      letter-spacing: 5px;
       	   }           
           
          #submit{
               font-size: 20px;
           }   
  }        